@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AaronPortofilio</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body lang="en-US" link="#0563c1" vlink="#800000" dir="ltr"><p align="center" style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="4" style="font-size: 14pt"><b>Aaron
J. King</b></font></font></p>
<p align="center" style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="3" style="font-size: 12pt">310
N. Hickory Street Pana, IL. 62557</font></font></p>
<p align="center" style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="3" style="font-size: 12pt">(773)
868-7513 </font><font size="3" style="font-size: 12pt"><b>|
</b></font><font color="#0563c1"><u><a href="mailto:aaronjking0408@outlook.com"><font size="3" style="font-size: 12pt">aaronjking0408@outlook.com</font></a></u></font><font size="3" style="font-size: 12pt">
</font><font size="3" style="font-size: 12pt"><b>|
</b></font><a href="https://www.linkedin.com/in/aaron-king-225aab76?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BoRSJA663THuXEbvH9HgPoA%3D%3D"><font color="#0000ff"><font face="Segoe UI, serif"><font size="2" style="font-size: 10pt"><u><span style="background: #ffffff">linkedin.com/in/aaron-king-225aab76</span></u></font></font></font></a></font></p>
<p align="center" style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="3" style="font-size: 12pt"><i><b>SPECIALISTIES:</b></i></font><font size="4" style="font-size: 14pt"><i><b>
</b></i></font><i>An experienced skilled IT professional with
specialties in IT Support Analyst (Internal, External, &amp; Customer
Support), Administration &amp; Active Directory, Database, &amp;
Project Management. Passionate about pursuing a career as a Software
Engineer currently completing education, contractor, &amp; freelance
work. Looking to embark on internship/apprenticeship where I can
sharpen my skills as a development/engineer.</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
		<br />
	</p>
<div id="container">
 
</div>

<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="3" style="font-size: 12pt"><i><b>Skills:</b></i></font><font size="4" style="font-size: 14pt">
</font><i>HTML (Debugging), CSS (Grids, Animation, Media Queries,
Responsive, Project Planning, SaaS, Bootstrap, Debugging</i>)<i>,
JavaScript (Operators, Loops, Functions, Algorithms, ES6, data
structures, Advanced JS, JSX, JavaScript, Async, APIs, NodeJS,
Advance APIs, DOM Manipulation, Typescript, Debugging), GitHub
(Version Control, Push, Pull, Merge Conflicts, Code Backup, &amp;
Markdown), MongoDB, Authentication, Deployment, Serverless Apps.</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="3" style="font-size: 12pt"><i><b>Certifications:</b></i></font><font size="4" style="font-size: 14pt"><i><b>
</b></i></font><i>HTML5, CSS, JavaScript, Microsoft 365, Microsoft
Azure, Scrum Master Professional, Udemy (The Complete JavaScript
Course 2023 Certification – Coming Soon).</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="3" style="font-size: 12pt"><i><b>Projects:</b></i></font><font size="4" style="font-size: 14pt"><i><b>
</b></i></font><i>SaaS Website, Node Calculator, Mini Battleship, JS
Website with API, Debt Free Calculator, Code Commerce, Shopper –
Full Stack E-Commerce App, Building Your First API, Working with A
Real Database, Bookstagram, Subscribe Form, &amp; Capstone Project. –
Coming Soon</i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>All open source and available for
	view here – </i><font color="#0563c1"><u><a href="https://github.com/AaronSE2020"><i>https://github.com/AaronSE2020</i></a></u></font></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="3" style="font-size: 12pt"><i><b>Educational
Background: </b></i></font><font size="3" style="font-size: 12pt"><i>Technical</i></font></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i><b>Udemy (Online) </b></i><i>– Pana,
Illinois                                                             
                                                         January 2023
– Present</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>The Complete JavaScript Course 2023</i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>From Zero to Expert Learn JavaScript</i></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i><b>Devslopes (Online) </b></i><i>–
Pana, Illinois.                                                      
                                                       December 2021
- Present</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Full- Stack Software Engineering</i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>HTML, CSS, Flexbox, CSS Grids,
	Animation, Media Queries, Responsive, Project Planning, Version
	Planning, JavaScript, Programming Fundamentals, Operators, Loops,
	Functions, Algorithms, ES6, data structures, Advanced JS, DOM
	Manipulation, React, React Hooks, JSX, JavaScript, Async, APIs,
	Networking, NodeJS, React Router, Advance APIs, MongoDB,
	Authentication, Deployment, Serverless Apps, Final, GitHub, Version
	Control, Push, Pull, Merge Conflicts, Code Backup, &amp; Markdown.</i></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
 
</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i><b>TechBridge </b></i><i>– Atlanta,
GA.                                                                  
                                                           
Graduated: June 9, 2019</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Certifications: Microsoft
365/Microsoft Azure/HTML/Scrum Master</i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Technical Skills: </i><font color="#000000"><i>Cloud
	Computing, Data Privacy (Tokenization and Encryption), Agile (Scrum
	Master Coach) Web Development (HTML, CSS, JavaScript, &amp;
	Bootstrap), Microsoft 365/Azure (Admin), Identity and Access
	Management, Vulnerability Management, Power Apps/BI,  Infrastructure
	Deployment, Exchange,  DevOps, SharePoint, CLI &amp; PowerShell,
	Windows, Linux, Mainframe, Databases (Oracle, etc.), Network
	(Firewalls, Routers, VPN, MPLS, WAF, Load balancers, etc.), Security
	tools (DLP, SIEM, FIM etc.), mobile, wireless, etc.</i></font></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="3" style="font-size: 12pt"><i><b>Other
Education: </b></i></font><font size="3" style="font-size: 12pt"><i>Non-Technical</i></font></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i><b>Concordia University Chicago </b></i><i>–
River Forest, IL.                                                    
                       Graduated: December 16, 2016</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Bachelor’s Degree and Certification
– Organizational Management/Human Resource Management</i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Management Skills: Project
	management, task management, operations management, cost management,
	risk management, account management, team building and strategic
	planning, change management, training and development, selections,
	recruitment, payroll management, policy, and documentation
	formulations FMLA, OSHA, Employee and Labor Relations, etc.</i></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font size="3" style="font-size: 12pt"><i><b>Professional
Experience: </b></i></font></font>
</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Interapt (Humana Healthcare) (Remote)
– Louisville, KY                                                   
                                       </i><i>2022 – Present</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Position: IT Support Analyst </i></font>
</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Provide IT support for Humana
Healthcare employees/contractors with Genesys Cloud/CRM/Citrix in the
United States and International. Assist CSS IT Support Team when
necessary past incident tickets are at an all-time high.</i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Created and resolved current/past
	incident tickets/CRM tickets using the ServiceNow Incident
	Management tool.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Productivity Tools used for
	documentation, communication, and training and development (Zoom
	Communications, Google Workspace, OKTA, Slack, and Microsoft Office
	Suite).</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Resolved password reset and
	connectivity issues in Genesys Cloud, Citrix, and CRM.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Troubleshooted end-users’ software
	related problems via telephone support, video, and remote support.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Troubleshoot Workstation and Window’s
	Service diagnose low-level operating systems and network issues.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Utilized resources such as knowledge
	base, white papers, websites, PDF’s, and resolved incident ticket
	information and help tools to locate solutions to problems.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Identified customer concerns or
	issues and resolved them or escalated to the next level of support
	when necessary, using ServiceNow.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Created resolutions by researching
	incidents and using effective problem-solving skills, also created
	new knowledge base articles for utilization.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Effectively communicate with Level 2
	Support through MS Teams to resolve Humana Healthcare
	employees/contractor’s issues.</i></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>NLB Services (Innover Digital)
(Hybrid) – Alpharetta, GA.                                         
                                                     2022 – 2022 </i></font>
</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Position: IT Customer Support</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Provided IT support for Frontier
Communication customers with anti-virus software, internet, phone,
cable, and any devices that connect to the internet, while assets
customers </i><i><span style="background: #ffffff">need, best
interests, and build confidence, credibility, rapport, and mutually
beneficial relationships.</span></i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Handled a high volume of inbound
	calls of users with PC / Server / Printer / Network problems.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Identified customer concerns or
	issues and resolved them or escalated to the next level of support
	when necessary.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Created and resolved current/past
	incident tickets/CRM tickets using the Zendesk Incident Management
	tool.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Troubleshoot end-users’ software
	related problems via telephone support, video, and remote support.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Utilized resources such as knowledge
	base, white papers, websites, and resolved ticket information and
	help tools to locate solutions to documented problems.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Identify problems and provide
	solutions to client issues ensuring client satisfaction and
	productivity.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i><span style="background: #ffffff">Troubleshoot
	LAN and wireless network issues.</span></i></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font color="#000000"><i>VDart, Inc.
(Accenture) = Michigan Unemployment Agency (UIA) (Remote) –
Alpharetta, GA.                              2021 – 2022</i></font></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font color="#000000"><i>Promoted: Fraud
Agent/Triage Agent/Quality Assurance</i></font></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font color="#000000"><i>Kept records of
victim interactions or transactions, recording details of complaints,
or comments, as well as actions taken. Followed key metrics and audit
processes to ensure established goals were met. Resolve victim’s
issues within the scope of existing service level agreements.</i></font></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><font color="#000000"><i>Confer with
	victim by telephone of their ID Theft Referral or Fraud Referral to
	was submitted. Record details of complaints or comments from victim,
	and give detail information of documentation needed for
	investigation, as well as actions that will be taken.</i></font></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><font color="#000000"><i>Gathered and
	analyzed pertinent data to determine the appropriate course of
	effective action in the processing of fraud claims.</i></font></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><font color="#000000"><i>Communicate
	with consumers and merchants to investigate suspicious activity.</i></font></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><font color="#000000"><i>Research I.P.
	Address locations using various in-house database.</i></font></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><font color="#000000"><i>Determine
	existing fraud trends by analyzing accounts and transaction
	patterns.</i></font></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><font color="#000000"><i>Edited
	assignments, solved problems, and identified solutions for fraud
	agents.</i></font></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><font color="#000000"><i>Decreased IT
	workload by 20% due to improvement of QA processes.</i></font></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font color="#000000"><i>Former Position:
Claims Customer Service Representative</i></font></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i><span style="background: #ffffff">Responding
to inbound calls and chats telephone on inquiries related to the
status of claims and maintain great customer service skills.</span></i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Receiving telephone, written, fax,
	and e-mail inquiries concerning eligibility benefits determinations,
	and claims adjudication questions or payment problems.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Created and resolved present/past
	claims in Salesforce Service Cloud.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Applying appropriate provisions of
	regulations, interpretations, and procedural directives in making
	determinations on eligibility and benefits to determine appropriate
	responses to inquiries. </i></font>
	</p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Obtain and analyze claims data to
	determine specific problem area including external communication to
	obtain data.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Complete research and provide a final
	resolution to inquiries within contractual requirements.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Informing supervisory staff of system
	problems when identified, researching problems to provide backup
	data and examples when needed. </i></font>
	</p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Assist account managers in providing
	on-going support to each claimant by handling all eligibility
	processing, enrollment packets, claims support, and general
	inquiries. </i></font>
	</p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif">Review customer claims for accuracy and
	recovers any inaccurate losses. Educates claimants as needed by
	reiterating/clarifying items previously discussed with the account
	manager. Assisted claimants with enrollment/benefits questions,
	processed terminations, benefit, and verified benefits and
	eligibility.</font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><font color="#000000"><i>VXI Global
Solutions (AT&amp;T Advance Technical Support) – Atlanta, GA.      
                                                              2020 –
2021 Position: Team Lead                                             
                                                                     
                                                           </i></font><i><span style="background: #ffffff">Highly
skilled technical support agent whose problem-solving style is
analytical, careful, and deliberate. Able to assess customer needs,
best interests and build confidence, credibility, rapport, and
mutually beneficial relationships.</span></i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Managed incident tickets and CRM
	tickets using Salesforce Service Cloud.</i></font></p>
</ul>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Managed call flow and responded to
	technical support needs of AT&amp;T customers.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Troubleshooted and made adjustments
	to correct potential phone problems.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Provided base IT support to
	non-technical personnel within the business.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Train new employees and explain
	protocols clearly and efficiently.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Utilized resources such as knowledge
	base, white papers, websites, and resolved ticket information and
	help tools to locate solutions to documented problems.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Cross-trained and provided back-up
	for other customer service representatives when needed.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Achieve consistent #1 and #2 ranking
	in monthly metrics, including call duration, number of calls per
	shift, and customer satisfaction.</i><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><i>
	</i></font></font></font>
	</p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>All N One Security Services –
Atlanta, GA.                                                         
                                                               2018 –
2020</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Position: IT Security</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Responsible for managing security
infrastructure including firewall, proxy, IDS, and AV. Initiatives
including the development of a laptop’s security check, anti-virus
rollouts, problem management, the launch of recovery sites and data
leakage protection.</i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Execute critical risk and business
	impact assessments and continuity and recovery management plans
	white addressing security and business continuity concerns in a
	professional manner.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Assume responsibility for managing
	security infrastructure including the firewall, proxy, IDS and AV.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Serve as leader for several
	initiatives including development of a laptop security services
	check, anti-virus roll-out, problem management, launch of a disaster
	recovery site and data leakage prevention.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Productively refine and document
	crucial security policies and guidelines.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Implement integral SOX procedures for
	access management while extensively evaluating and improving related
	procedures.</i></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Kroger – Smyrna, GA.                
                                                                     
                                                                    
2016 – 2018</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Position: Technology Consultant       
                                                                     
                                                                     
    Held multiple positions of increasing responsibility and
technical scope for this leader in payment and information systems.
Specializing in; currency services, information management and
delivery services remittance services and cheque services.</i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Accomplished major strategic goal and
	client commitment through the development and implementation of a
	new Change Management Program, a technology driven client response
	platform. Analyzed existing using dynamic content in a PDF format
	that proved to be cutting edge and scalable despite a lacking
	funding and technical resources.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Reviewed over 2500 control form
	across company for ISO certification. Developed proper inventory
	system for forms management using SharePoint.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Created document management system
	using SharePoint. Consulted with all levels of management and staff
	to understand and provide solutions for internal administration
	needs. Built site standards to ensure the integrity, stability, and
	security of SharePoint data.</i></font></p>
</ul>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<br/>

</p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Motorola Solutions Inc. (G4s Secure
Solutions) – Willowbrook, IL.                                      
                                        2015 - 2016</i></font></p>
<p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<font face="Calibri, serif"><i>Position:  Junior IT Support Analyst</i></font></p>
<ul>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Employ a proactive and participative
	approach and unique blend of technical, analytical, and relationship
	management skills to implement and resolve simple and complex IT
	challenges.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Resolved both internal and external
	customer&nbsp;support requests utilizing remote access tools
	available.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Monitored and adjust OS image and
	software configuration parameters to maximize end-user efficiency
	and enhance software performance.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Setup, modify, troubleshoot horizon
	VDI systems on pcs and 10zig and thin client.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Processed new hardware requests as
	well as processing of po's for new equipment such as desktops,
	laptops, monitors.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Used of HP service manager to accept
	and document problem tickets from start to resolution and verify
	change requests.</i></font></p>
	<li><p style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
	<font face="Calibri, serif"><i>Performed root cause analysis,
	develop checklists for typical problems and recommend procedures and
	controls for problem prevention.</i></font></p>
</ul>
</body>
