@page
@model AaronPortfolio.Views.Home.NasaPictureModel
@{
}
<h2 id="nasaTitle"></h2>
<img id="nasaImage" width="600" />
<p id="nasaDesc"></p>

@section Scripts {
    <script src="~/js/nasaApiModule.js"></script>
}